/* Base Styling */
html {
  font-size: 16px;
}

body {
  font-family: Inter, "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-size: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
  color: #142442;
  line-height: 1.5;
  background-color: #FEFEFE;
  overflow-x: hidden !important;
  overflow-wrap: break-word;
}

a {
  color: #142442;
}
a:hover {
  color: #2C7BC6;
}

select {
  border-radius: 8px;
}

button {
  transition: background-color 0.15s ease-in-out;
  border: 0px;
}

#appBody {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: Barlow;
  line-height: calc(2px + 2ex + 2px);
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: clamp(3.39rem, 0.87vw + 3.2rem, 3.81rem);
}

h2 {
  font-size: clamp(2.71rem, 0.69vw + 2.56rem, 3.05rem);
}

h3 {
  font-size: clamp(2.17rem, 0.55vw + 2.05rem, 2.44rem);
}

h4 {
  font-size: clamp(1.74rem, 0.44vw + 1.64rem, 1.95rem);
}

h5 {
  font-size: clamp(1.39rem, 0.36vw + 1.31rem, 1.56rem);
}

h6 {
  font-size: clamp(1.11rem, 0.28vw + 1.05rem, 1.25rem);
}

.tiny {
  font-size: clamp(0.57rem, 0.15vw + 0.54rem, 0.64rem);
}

.small {
  font-size: clamp(0.71rem, 0.18vw + 0.67rem, 0.8rem);
}

/* Image Styling */
img {
  max-width: 100%;
  max-height: 100%;
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
}

/* Input Styling */
.custom-input {
  background-color: #5EBBE9;
  border-color: white;
  border-width: 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  text-align: center;
}

.custom-input::-moz-placeholder {
  color: #FEFEFE;
}

.custom-input::placeholder {
  color: #FEFEFE;
}

.form-field-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #707279;
  color: #EEEEEA;
  font-size: 20px;
  border-radius: 5px;
}

.form-field-box::-moz-placeholder {
  color: #FEFEFE;
}

.form-field-box::placeholder {
  color: #FEFEFE;
}

/* Padding Styling */
.padMobile {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.pad-a {
  padding-top: 8px;
}

.pad-b {
  padding-top: 12px;
}

.pad-c {
  padding-top: 16px;
}

.pad-d {
  padding-top: 24px;
}

.pad-e {
  padding-top: 32px;
}

.pad-f {
  padding-top: 40px;
}

.pad-g {
  padding-top: 48px;
}

.pad-h {
  padding-top: 56px;
}

.pad-i {
  padding-top: 64px;
}

.pad-j {
  padding-top: 72px;
}

/* Button Styling */
.button-like-div {
  background-color: #0F1726;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button-like-div:hover {
  background-color: rgb(0, 110, 255) !important;
}

.blue-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #5EBBE9;
  border-radius: 8px;
  border: 0px;
}
.blue-button:hover {
  background-color: #2C7BC6;
}

.dark-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #142442;
  border-radius: 8px;
  border: 0px;
  color: #707279;
}
.dark-button:hover {
  background-color: #2C7BC6;
  color: #EEEEEA;
}

.light-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #EEEEEA;
  border-radius: 8px;
  border: 0px;
  color: #142442;
}
.light-button:hover {
  background-color: #2C7BC6;
}

.btn-bg-primary {
  width: 30%;
  height: 32px;
  background: #5EBBE9;
  border-radius: 8px;
}
.btn-bg-primary:hover {
  background-color: #2C7BC6;
}

.save-btn {
  color: #142442;
}

.btn-bg-secondary {
  background: #0F1726;
  border-radius: 8px;
  border-color: #0F1726;
  color: #EEEEEA;
}
.btn-bg-secondary:hover {
  background-color: #2C7BC6;
}

.btn-bg-outline {
  width: 30%;
  height: 32px;
  background: white;
  border-radius: 8px;
  color: red;
}
.btn-bg-outline:hover {
  background-color: red;
}

.btn-bg-green {
  width: 30%;
  height: 32px;
  background: white;
  border-radius: 8px;
  color: red;
}
.btn-bg-green:hover {
  background-color: rgb(102, 255, 0);
}

/* Heading Styling */
.dashboard-title {
  margin: 0;
}

.sub-header-container,
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-name {
  margin: 0;
  font-size: 1.2em;
}

.right-section {
  background-color: #142442;
  color: #FEFEFE;
}

.dark-container {
  background-color: #0F1726;
  border-radius: 16px;
  min-height: 60vh;
}

/* Table Styling */
.tableHeader {
  font-weight: 700;
  font-size: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
  color: #707279;
}

.tableCaption {
  font-size: clamp(0.71rem, 0.18vw + 0.67rem, 0.8rem);
  color: #707279;
}

.tableRow:hover {
  background-color: #142442;
  cursor: pointer;
}

/* FormRender Style */
.innerLabel {
  background: #FEFEFE;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.innerInputs {
  background: #EEEEEA;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.formRender .outerBlack {
  background: #0F1726;
  border-radius: 16px;
}
.formRender .innerBlue {
  background: #142442;
  border-radius: 16px;
}
.formRender .normalBtn {
  width: 100%;
  height: 39px;
  border-radius: 16px;
  background-color: #EEEEEA;
  border: none;
}
.formRender .submitBtn {
  width: 100%;
  height: 39px;
  color: #FEFEFE;
  border-radius: 16px;
  background-color: #2C7BC6;
  border: none;
}
.formRender .rightBarBtn {
  width: 100%;
  height: 39px;
  border-radius: 16px;
  background-color: #EEEEEA;
  border: none;
}
.formRender .FormLabel {
  color: #142442;
  font-weight: 700;
  font-size: clamp(1.11rem, 0.28vw + 1.05rem, 1.25rem);
}
.formRender .rightBarLabel {
  color: #5EBBE9;
  font-weight: 500;
  font-size: clamp(0.71rem, 0.18vw + 0.67rem, 0.8rem);
}
.formRender .optionLabel {
  color: #142442;
  font-weight: 500;
}
.formRender .inputBg {
  background-color: #FEFEFE;
}
.formRender .fillUpRequired {
  background-color: rgba(206, 42, 67, 0.8);
  color: white;
}
.formRender .fillUpRequiredTextOnly {
  color: white;
}
.formRender .requiredStar {
  color: red;
}

.my-overlay {
  position: relative;
  top: 20vh;
  left: 0%;
  margin: 10vw;
  padding: 144px;
  z-index: 2;
  border-radius: 16px;
  background-color: #0f1726;
}

.danger-button {
  width: 50%;
  height: 32px;
  background: #970016;
  border-radius: 8px;
  color: #EEEEEA;
}
.danger-button:hover {
  background-color: #ca001e;
}

.glass-component {
  background: rgba(255, 255, 255, 0.501);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
}

.fix-close {
  position: fixed;
  left: 70vw;
  top: 5vh;
}

.test {
  min-width: 100px;
  max-width: 30vw;
  min-height: 40px;
  max-height: 30vh;
  background-color: #EEEEEA;
  border-radius: 8px;
  border: 0px;
  color: #142442;
}
.test:hover {
  background-color: #2C7BC6;
}

.lightblue-container {
  background-color: #5EBBE9;
  border-radius: 8px;
  color: #142442;
}

.error-input {
  color: #970016;
}